@media (max-width: 430px) {
  .containerOrder .containerProducts {
    padding-left: 0;
  }
  .containerOrder .containerProducts .product {
    gap: 0.8rem;
  }
  .containerOrder .containerProducts .product img {
    width: 100%;
  }

  .containerOrder .containerProducts .product .faCircle {
    font-size: 0.8rem;
  }

  .containerOrder .actions {
    gap: 0.5rem;
  }
}
